<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwConfigExceptions="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="console"
            xsi:type="Console"
            layout="[${level:format=TriLetter:uppercase=true}] ${time} - ${message}" />

    <target name="master"
            xsi:type="File"
            layout="[${level:format=TriLetter:uppercase=true}] ${longdate} - ${message}"
            fileName="${basedir}\logs\master.log"
            encoding="utf-8" />

    <target name="advanced-systems"
            xsi:type="File"
            layout="[${level:format=TriLetter:uppercase=true}] ${longdate} - ${message} (${callsite})"
            fileName="${basedir}\logs\advanced-systems.log"
            encoding="utf-8" />

    <target name="controllers"
            xsi:type="File"
            layout="[${level:format=TriLetter:uppercase=true}] ${longdate} - ${message}"
            fileName="${basedir}\logs\advanced-systems-backend-controller-${shortdate}.log"
            archiveFileName="${basedir}\logs\advanced-systems-backend-controller-${shortdate}-{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"
            encoding="utf-8" />
  </targets>

  <rules>
    <!-- All logs, including from Microsoft-->
    <logger name="*" minLevel="Trace" writeTo="master" />

    <!-- Advanced Systems -->
    <logger name="AdvancedSystems.*" minLevel="Trace" writeTo="console" />
    <logger name="AdvancedSystems.Backend.Controllers.*" minLevel="Debug" writeTo="controllers" />

    <!-- Skip Microsoft logs, but log everything else here -->
    <logger name="Microsoft.*" maxlevel="Info" final="true"/>
    <logger name="*" minLevel="Trace" writeTo="advanced-systems" />
  </rules>

</nlog>
