<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwConfigExceptions="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="console"
            xsi:type="Console"
            layout="[${level:format=TriLetter:uppercase=true}]::${callsite} ${time} - ${message}" />

    <target name="controllers"
            xsi:type="File"
            layout="[${level:format=TriLetter:uppercase=true}] ${longdate} - ${message}"
            fileName="${basedir}\logs\advanced-systems-backend-controller-${shortdate}.log"
            archiveFileName="${basedir}\logs\advanced-systems-backend-controller-${shortdate}-{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"
            encoding="utf-8" />
  </targets>

  <rules>
    <!-- Advanced Systems -->
    <logger name="AdvancedSystems.*" minLevel="Info" writeTo="console" />
    <logger name="AdvancedSystems.Backend.Controllers.*" minLevel="Debug" writeTo="controllers" />
  </rules>

</nlog>
